/dts-v1/;
/memreserve/ 0x00000000 0x04080000;
/* reserved for bootloader */

#include <dt-bindings/gpio/gpio.h>
#include "hi3798cv200.dtsi"
#include "poplar-pinctrl.dtsi"

/ {
	model = "imou-sn1";
	compatible = "imou,sn1", "hisilicon,hi3798cv200";

	aliases {
		serial0 = &uart0;
		serial2 = &uart2;
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};

	memory@0 {
		device_type = "memory";
		reg = <0x0 0x0 0x0 0x80000000>;
	};

	leds {
		compatible = "gpio-leds";

		sata-white {
			label = "sata-white";
			gpios = <&gpio3 0 GPIO_ACTIVE_LOW>;
			default-state = "off";
			linux,default-trigger = "disk-activity";
		};

		sata-red {
			label = "sata-red";
			gpios = <&gpio2 6 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};

		pwr-white {
			label = "pwr-white";
			gpios = <&gpio2 5 GPIO_ACTIVE_LOW>;
			default-state = "on";
		};

		pwr-red {
			label = "pwr-red";
			gpios = <&gpio3 1 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};
	};

	vcc_sata: regulator-vcc-sata {
		compatible = "regulator-fixed";
		regulator-name = "vcc-sata";
		gpio = <&gpio6 3 GPIO_ACTIVE_HIGH>;
		enable-active-high;
	};

	vcc_sdio2: regulator-vcc-sdio2 {
		compatible = "regulator-fixed";
		regulator-name = "vcc-sdio2";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		gpio = <&gpio8 1 GPIO_ACTIVE_HIGH>;
		enable-active-high;
		startup-delay-us = <100000>;
	};
};

&gpio2 {
	status = "okay";
};

&gpio3 {
	status = "okay";
};

&gpio6 {
	status = "okay";
};

&gpio8 {
	status = "okay";
};

&emmc {
	status = "okay";
	num-slots = <1>;
	fifo-depth = <256>;
	clock-frequency = <200000000>;
	cap-mmc-highspeed;
	mmc-ddr-1_8v;
	mmc-hs200-1_8v;
	non-removable;
	bus-width = <8>;
};

&gmac1 {
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;
	phy-handle = <&eth_phy1>;
	phy-mode = "rgmii-id";
	hisilicon,phy-reset-delays-us = <30000 30000 50000>;

	eth_phy1: phy@3 {
		reg = <3>;
	};
};

&sd0 {
	bus-width = <4>;
	cap-sd-highspeed;
	status = "okay";
};

&sd2 {
	bus-width = <4>;
	disable-wp;
	broken-cd;
	non-removable;
	cap-power-off-card;
	vmmc-supply = <&vcc_sdio2>;
	status = "disabled";
};

&uart0 {
	status = "okay";
};

&uart2 {
	status = "okay";
};

&ohci {
	status = "okay";
};

&ehci {
	status = "okay";
};

&xhci0 {
	status = "okay";
};

&sata {
	status = "okay";
	target-supply = <&vcc_sata>;
};

&combphy1 {
	sata-controller = <&sata>;
	assigned-clocks = <&crg 80>;
	assigned-clock-parents = <&crg 66>;
	assigned-clock-rates = <25000000>;
};

&pmx0 {
	pinctrl-single,gpio-range = <
		&range 0  8 2  /* GPIO 0 */
		&range 8  1 0  /* GPIO 1 */
		&range 9  4 2
		&range 13 1 0
		&range 14 1 1
		&range 15 1 0
		&range 16 5 0  /* GPIO 2 */
		&range 21 3 0
		&range 24 4 0  /* GPIO 3 */
		&range 28 2 2
		&range 86 1 1
		&range 87 1 0
		&range 30 4 2  /* GPIO 4 */
		&range 34 3 0
		&range 37 1 2
		&range 38 3 2  /* GPIO 6 */
		&range 41 2 0
		&range 43 3 2  /* SDIO2 */
		&range 46 3 2  /* GPIO 7 */
		&range 49 5 0  /* GPIO 7 */
		&range 54 8 0  /* GPIO 8, skip 62-63 */
		&range 64 7 1  /* GPIO 9 */
		&range 72 6 1  /* GPIO 10, RGMII */
		&range 78 1 0  /* GPIO */
		&range 79 1 1  /* RGMII */
		&range 80 6 1  /* GPIO 11, RGMII*/
		&range 70 2 1  /* RGMII */
		&range 88 8 0  /* GPIO 12 */
	>;

	pinctrl-names = "default";
	pinctrl-0 = <
		&emmc_pins_1
		&emmc_pins_2
		&emmc_pins_3
		&emmc_pins_4
		&i2c0_pmx_cfg
		&gpio_pmx_cfg
		&bt_uart2_p1_pmx_cfg
		&bt_uart2_p2_pmx_cfg
		&i2c2_p1_pmx_cfg
		&i2c2_p2_pmx_cfg
		&rgmii1_p1_pmx_cfg
		&rgmii1_p2_pmx_cfg
		&rgmii1_p3_pmx_cfg
		&sdio0_p1_pmx0_cfg
		&sdio0_p2_pmx0_cfg
		&sdio0_p3_pmx0_cfg
		&sdio2_p2_pmx0_cfg
		&sdio2_p3_pmx0_cfg
	>;
};

