/dts-v1/;
/memreserve/ 0x00000000 0x04080000;
/* reserved for bootloader */

#include <dt-bindings/gpio/gpio.h>
#include "hi3798cv200.dtsi"
#include "poplar-pinctrl.dtsi"

/ {
	model = "imou-sn1";
	compatible = "imou,sn1", "hisilicon,hi3798cv200";

	aliases {
		serial0 = &uart0;
		serial2 = &uart2;
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};

	memory@0 {
		device_type = "memory";
		reg = <0x0 0x0 0x0 0x80000000>;
	};

	leds {
		compatible = "gpio-leds";

		sata-white {
			label = "sata-white";
			gpios = <&gpio3 0 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};

		sata-red {
			label = "sata-red";
			gpios = <&gpio2 6 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};

		pwr-white {
			label = "pwr-white";
			gpios = <&gpio2 5 GPIO_ACTIVE_LOW>;
			default-state = "on";
		};

		pwr-red {
			label = "pwr-red";
			gpios = <&gpio3 1 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};
	};

	vcc_sata: regulator-vcc-sata {
		compatible = "regulator-fixed";
		regulator-name = "vcc-sata";
		gpio = <&gpio6 3 GPIO_ACTIVE_HIGH>;
		enable-active-high;
	};
};

&ehci {
	status = "okay";
};

&emmc {
	status = "okay";
	num-slots = <1>;
	fifo-depth = <256>;
	clock-frequency = <100000000>;
	cap-mmc-highspeed;
	mmc-ddr-1_8v;
	mmc-hs200-1_8v;
	non-removable;
	bus-width = <8>;
};

&gmac1 {
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;
	phy-handle = <&eth_phy1>;
	phy-mode = "rgmii-id";
	hisilicon,phy-reset-delays-us = <30000 30000 50000>;

	eth_phy1: phy@3 {
		reg = <3>;
	};
};

&i2c0 {
	status = "okay";
};

&i2c2 {
	status = "okay";
};

&ohci {
	status = "okay";
};

&otg {
	status = "okay";
};

&sd0 {
	bus-width = <4>;
	cap-sd-highspeed;
	status = "okay";
};

&uart0 {
	status = "okay";
};

&uart2 {
	status = "okay";
};

&xhci0 {
	status = "okay";
};

&xhci1 {
	status = "okay";
};

&sata {
	status = "okay";
	target-supply = <&vcc_sata>;
};

&combphy1 {
	assigned-clocks = <&crg 80>;
	assigned-clock-parents = <&crg 66>;
	assigned-clock-rates = <25000000>;
};

&pmx0 {
	pinctrl-names = "default";
	pinctrl-0 = <
		&emmc_p1_pmx_cfg
		&emmc_p2_pmx_cfg
		&emmc_p3_pmx_cfg
		&emmc_p4_pmx_cfg
		&gpu_pmx_cfg
		&i2c0_pmx_cfg
		&gpio_pmx_cfg
		&bt_uart2_p1_pmx_cfg
		&bt_uart2_p2_pmx_cfg
		&pcm_pmx_cfg
		&i2c2_p1_pmx_cfg
		&i2c2_p2_pmx_cfg
		&mute_pmx_cfg
		&spdif_pmx_cfg
		&rgmii1_p1_pmx_cfg
		&rgmii1_p2_pmx_cfg
		&rgmii1_p3_pmx_cfg
		&sdio0_p1_pmx0_cfg
		&sdio0_p2_pmx0_cfg
		&sdio0_p3_pmx0_cfg
	>;
};

&mali {
	status = "disabled";
};

&ir {
	status = "okay";
};

